.tag-name{
 width: 328px;
background: black;
margin: 0 auto;
}
.tag-para{
font-family: Arial;
color: white;
font-size: 8px;
font-style: normal;
font-weight: 600;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
margin-top: 0px;
height: 15px;
/* padding: 5px; */
text-align: center;
}

@media screen and (min-width:768px){
.tag-name{
    width:500px;
    background: black;
    margin: 0 auto;
}
.tag-para{
height: 30px;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    /* padding: 5px; */

    }
    
}

@media screen and (min-width:1024px){
    .tag-name{
    width: 600px;
    margin: 0 auto;
    background: black;
    }
.tag-para{
/* height: 38px; */
font-family:Arial ;
font-style: normal;
font-weight: 600;
font-size: 14px;
text-align: center;
/* line-height: 40px; */
/* padding: 5px; */

    }

}